

<ion-content>

  

  <ion-grid class="grid">
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let item of news">
           <img src="{{item.image}}">
        </ion-slide>
      </ion-slides>
  </ion-grid>
    <!-- first row -->
    <!-- second-row -->

    <ion-grid class="grid-3-column">
      <ng-container *ngFor="let category of categories">
        <div class="default-margin ion-text-center">
          
            <img class="ui medium circular image" src="{{category.image}}" />
          
            <p class="text-over-img">{{category.title}}</p>
          
        </div>
      
      </ng-container>
    </ion-grid>

  
    <!-- <ion-content>
      <ion-card *ngFor="let category of categories">
          <ion-list>
              <ion-item>
                  <ion-thumbnail item-left>
                      <img src="assets/logo.png">
                  </ion-thumbnail>
                  <p class="heading">{{category.title}}</p>

              </ion-item>
          </ion-list>
      </ion-card>
  </ion-content>

<ion-button expand="block" (click)="retrieveCategories()" class="transition">
  <strong>
    Get</strong></ion-button> -->
  </ion-content>


