
<ion-content>
  <ion-content *ngIf="news.length >0" style="height:30%;">
    <!-- <ion-grid> -->
      <ion-slides [options]="slideOptions">
        <ion-slide *ngFor="let item of news">
            <img src="{{item.image}}">
        </ion-slide>
      </ion-slides>
    <!-- </ion-grid> -->
  </ion-content>
  <ion-grid>
    <ion-row >      
         <ion-col *ngFor="let category of categories" size="4" routerLink="/{{category.id}}">
            <div style="height:80%;">
              <img class="ui tiny centered image" src="{{category.image}}" />
            </div>
            <div class="ion-text-center"  style="height:20%;">
              <ion-text class="ion-text-nowrap">{{category.title}}</ion-text>                
            </div>
         </ion-col> 
    </ion-row>  
</ion-grid>
</ion-content>


